html, body {
  height: 100%;
}

.block {
  display: grid;
    gap: var(--size-3);
    overflow: auto;
    overscroll-behavior-inline: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
  &__element {
    background-color: red;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    color: white;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
    &--modifier {
      background-color: blue;
    }
  }
}